<h1>Editar Persona</h1>

<%= render "form", persona: @persona %>

<br>

<div class="mostrar_Persona">
  <%= link_to "Mostrar esta Persona", @persona, class: "button"%><!--  |
  <%= link_to "Back to personas", personas_path %>--> <!-- Lo comento ya que lo pongo en el form-->
</div>
