<h1>New persona</h1>

<%= render "form", persona: @persona %>

<br>

<!--
Este botón ya se encuentra en el formulario
<div class="actions"> 
  <%= link_to "Back to personas", personas_path, class: "button" %>
</div>

 -->
